attrs==19.3.0
joblib==0.14.1
more-itertools==8.1.0
numpy==1.22.0
packaging==20.1
pandas==0.25.3
pkg-resources==0.0.0
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.3.4
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
wcwidth==0.1.8
xgboost==0.90
